<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons slot="end">

      <ion-icon slot="icon-only" color="primary" name="logo-google"
        (click)="login()"
        *ngIf="!logged">
      </ion-icon>

      <img [src]="userInfo!.photoURL" *ngIf="logged"
        alt=" " class="profilePic" (click)="openProfile()"
      >

    </ion-buttons>

  </ion-toolbar>
</ion-header>
