<ion-modal #profile [isOpen]="profileModal" backdropDismiss="false">
  <ng-template>
      <ion-toolbar>
        <ion-title>Usuario</ion-title>
        <ion-buttons slot="end">
          <ion-icon size="large" color="light" name="close-outline" (click)="closeModal()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
      <ion-content class="ion-padding userInfo">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <img [src]="userInfo!.photoURL" alt=" ">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{userInfo!.name}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="newFont">{{userInfo!.email}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
  </ng-template>
</ion-modal>
