<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="sendCollection()" color="primary" [disabled]="!userInfo">Crear colección</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="getCollection()" color="warning" [disabled]="!userInfo">Recibir colección</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="getUsers()" color="danger">Recibir usuarios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-fab-button></app-fab-button>

</ion-content>
